:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
  margin: auto 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  font-size: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column wrap;
  margin: 0 auto;
}

#container {
  padding: 24px;
}

.heading {
  border: 3px solid white;
  border-radius: 5px;
  padding: 0 16px;
  width: 333px;
  height: 500px;
  font-size: 32px;
  color: white;
  background-color: #2c1e361a;
  font-family: 'sans-serif';
}

#start {
  position: absolute;
  top: 50%;
  font-size: 16px;
}

#parent button {
  display: block;
  flex: 0 0 33.333333%;
  border: none;
  background: none;
  font-size: 48px;
  color: white;
  cursor: pointer;
}

#start {
  cursor: pointer;
}

#parent button:first-child {
  margin-top: 60%;
}